.. _IEP_index:

Iris Enhancement Proposals
==========================

An overview of what an IEP is and how it should be used can be seen in
:ref:`IEP0000`.

.. note::

    See the :ref:`IEPXXXX_template` For details on how to create an IEP.
    The template is a strong suggestion for how each IEP should be
    presented.  It will not contend with all possibilities so each author
    may add more sections if needed or mark the standard ones as not
    applicable.  It is expected that this template may mature over time.


Below is a list of all IEPs grouped by the status.


.. toctree::
   :maxdepth: 1
   :hidden:

   IEPXXXX-template

{% for current_status in iep_status_count.keys() %}
{{ current_status }}
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
{% if iep_status_count[current_status] > 0 %}
.. toctree::
   :maxdepth: 1
   :hidden:
{% for iep, tags in ieps.items() if tags['Status'] in current_status %}
   {{ tags['IEP'] }} - {{ tags['Title'] }} <{{ tags['Filename'] }}>
{% endfor %}


.. list-table::
   :widths: 5 5 30
   :header-rows: 1

   * - Created
     - IEP
     - Title
{% for iep, tags in ieps.items() if tags['Status'] in current_status %}
   * - {{ tags['Created'] }}
     - :ref:`{{ tags['IEP'] }} <{{ tags['IEP'] }}>`
     - {{ tags['Title'] }}
{% endfor %}
{% else %}
None.
{% endif %}
{% endfor %}

