/* import the standard theme css */
@import url("css/theme.css"); 

/* now we can add custom any css */

/* Used for very strong warning */
#slim-red-box-message {
  background: #ff0000;
  box-sizing: border-box;
  color: #ffffff;
  font-weight: normal;
  padding: 0.5em;
}

#slim-red-box-message a {
  color: #ffffff;
  font-weight: normal;  
  text-decoration:underline;
}
